body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100%;
    color: black;
}

h1 {
    color: white;
    font-size: 70px;
    padding: 260px;
    padding-bottom: 50%;
    background-color: black;
    text-align: center;
    margin-top: -1px;
    overflow: hidden; /* Esconde o texto enquanto está sendo digitado */
    white-space: nowrap; /* Impede quebra de linha */
    position: relative;
}

h1 span {
    display: inline-block;
    width: 0; /* Inicialmente o texto não ocupa espaço */
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40) 1s forwards, blink-caret 0.75s step-end infinite;
    border-right: 4px solid white; /* Cursor piscando */
}

/* Animação de digitação */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Efeito de piscar o cursor */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

img.me {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    z-index: 2;
    position: absolute; 
    margin-top: -220px; 
    padding: 90px;
}

h2 {
    padding-left: 420px;
    margin-top: -20px;
    font-size: 38px;
    text-align: center;
}

.meandme{
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 23px;
    padding-bottom: 40px;
    margin-left: 3px;
    margin-top: -150px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.container-fluid{
    background-color: black;
    color: white;
    text-align: center;
}

.about_lesson{
    font-size: 30px;
    padding-left: 430px;
    padding-top: 30px;
}

h3{
    font-size: 40px;
}

.aboutme{
    padding: 50px;
    padding-right: 400px;
    padding-left: 400px;
    text-align: center;
    background-color: black;
    position: absolute;
    margin-top: 250px;
    color: white;
    font-size: 20px;
}

h4{
    margin-top: 700px;
    text-align: center;
    font-size: 50px;
}

.project_undertale{
    border-radius: 50px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 80px;
    
}

p.title{
    font-size: 30px;
    font-weight:bolder ;
    padding-left: 150px;
    margin-top: -20px;
}
p.desc{
    font-size: 20px;
    padding-left: 150px;
    margin-top: -20px;
}

.senai_project{
    border-radius: 50px;
    padding: 30px;
    margin-top: -515px;
    margin-left: 570px;
    
}

p.title_senai{
    font-size: 30px;
    font-weight:bolder ;
    padding-left: 220px;
    margin-top: -20px;
}
p.desc_senai{
    font-size: 20px;
    padding-left: 150px;
    margin-top: -20px;
}

footer{
    padding: 100px;
    background-color: black;
    margin-top: 140px;
    color: white;
}

.titl{
    font-size: 30px;
    margin-top: -60px;
}